.timeline-new-comment .BtnGroup details details-menu > label:first-child {
  position: relative;
  pointer-events: none;
}

.timeline-new-comment .BtnGroup details details-menu > label:first-child:after {
  content: 'don’t even think about it haha';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
}
